// Colors
$c-blue: #225193;
$c-blue-light: #479CD5;
$c-yellow: #FFDB00;
$c-orange: #FD9C14;
$c-light-grey: #ccc;
$c-yellowgradient: linear-gradient(to right top, #ffdb00, #ffcb00, #ffbb00, #ffac09, #fd9c14);
$c-bluegradient:  linear-gradient(to left bottom, #225193, #2863a4, #3076b5, #3b89c5, #479cd5);

$c-fever-blue-dark: #06232c;
$c-blue-gradient: linear-gradient(180deg, rgba(34,81,147,1) 0%, rgba(34,81,147,0) 100%);
$c-black: #161616;
$c-white: #fff;
$c-white-off: #efefef;


// Typography
$f-montserrat: "Montserrat", sans-serif;
$f-roboto: "Roboto", sans-serif;
$f-bold: 800;
$f-regular: 400;
$f-lspacing: 1px;
$f-lspacing2:2px;

// viewport
$small: 576px;
$md:768px;
$desk:992px;
$bg: 1200px;

//Columns
